.dashboard-container {
    .dashboard-wrapper {
        .dashboard-content {
            display: flex;
            height: calc(100vh - 60px);

            .nav-taskbar {
                box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
                padding: 10px 5px;
                background-color: #eee;
                width: 230px;
                height: calc(100vh - 61px);

                .nav-taskbar-wrapper {
                    .menu-item {
                        cursor: pointer;
                        margin: 5px 0;
                        display: flex;
                        align-items: center;
                        padding: 0.5rem 1rem;
                        gap: 15px;
                        font-weight: 500;
                        color: gray;

                        &.active,
                        &:hover {
                            border-radius: 10px;
                            background-color: #ffffff;
                            color: #333;
                        }
                    }

                }


            }

            .component {
                background-color: #fff;
                // padding: 25px 50px 0 50px;
                width: calc(100vw - 250px);
                overflow-y: auto;
            }
        }
    }
}